<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Spring Security SSO</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>

<body>
<div class="container">
    <div class="col-sm-12">
        <h1>Secured Page</h1>
        Welcome, <span th:text="${#authentication.name}">Name</span>
        Welcome, <span th:text="${#authentication.details}">Name</span>
    </div>
    <div class="col-sm-12">
           <a href="http://localhost:8082/ui/securedPage">8082 SecuredPag</a>
    </div>
    <div class="col-sm-12">
           <a href="http://localhost:8083/ui/securedPage">8083 SecuredPag</a>
    </div>
    <div class="col-sm-12">
           <a href="http://localhost:8084/demo-webapp-client3/securedPage.html">8084 SecuredPag</a>
    </div>
</div>
</body>
</html>