server:
    port: 8081
spring:
    application:
        name: oauthservice
    jpa:
        show-sql: true
    datasource:
        url: jdbc:mysql://localhost:3306/zuul-auth?useUnicode=true&characterEncoding=utf-8
        username: root
        password: 123456
        druid:
            driver-class-name: com.mysql.jdbc.Driver
    redis:
        host: 127.0.0.1
        port: 6379

endpoints:
    health:
        sensitive: false
        enabled: true
management:
    security:
        enabled: false
security:
    basic:
        enabled: false
    oauth2:
        client:
            access-token-uri: http://localhost:8081/oauth/token
            user-authorization-uri: http://localhost:8081/oauth/authorize
        resource:
            user-info-uri:  http://localhost:8081/user
            prefer-token-info: false
#            filter-order: 3

logging:
    config: classpath:logback.xml
    level:
        org.springframework: DEBUG
        org.springframework.web: DEBUG
        org.springframework.security: INFO